:root{
    --primaryColor: rgb(24, 22, 66);
}
body, html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
#mynav {
    background-color: #181642 !important;
    color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 10px;
}
.container-lpage{
    background: var(--primaryColor);
    height: 100vh;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}
.main-heading {
    color: #FF2C90;
    font-weight: bolder;
    font-size: 2.5em;
}
.lbtn{
    background-color: #FF2C90;
    color: #FFFFFF;
}
.d-flex{
    margin: 0;
}
.bg-theme {
    background-color: #0e0d23;
    color: white;
}
.form-box{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-top: 5px solid #181642;
    border-left: 3px solid #181642;
    border-radius: 10px;
}
.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.error-box {
    min-height: 96vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}