<div class="error-box container-fluid bg-theme">
    <div class="top custom-error-box">
      <h1 style="color: white; font-size: 100px">OOPs</h1>
      <img class="error-image
      " src="https://cdn.rawgit.com/ahmedhosna95/upload/1731955f/sad404.svg" alt="404">
    </div>
    <h1 class="p-a text-danger">only recruiter is allowed to access this page, <a href="/login">login</a> as recruiter to continue</h1>
  </div>
  <style>
    @media (min-width: 350px) {
    .custom-error-box {
      display: flex;
      flex-direction: column;
    }
    .error-image{
      width: auto;
    }
  }

  @media (min-width: 768px) {
    .custom-error-box {
      display: flex;
      flex-direction: row;
    }
    .error-image{
      width: 400px;
    }
  }
  </style>